<div class="page-header">
	<h1>
		Device {{ device.deviceData.device.name }}
	</h1>

</div>

<div class="jumbotron text-center" ng-show="device.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<div ng-if="!device.deviceData.device.connected">
	<p>Device is not connected.</p>
</div>

<!-- carico variabili e funzioni solo se il device è collegato -->
<table class="table table-bordered table-striped" ng-if="device.deviceData.device.connected">
	<thead>
		<tr>
			<th>Variable Name</th>
			<th>Variable Type</th>
			<th>Current value</th>
	 </tr>
	</thead>
	<tbody>
		<tr ng-repeat="oak_var in device.variables">
			<td>{{ oak_var.name }}</td>
			<td>{{ oak_var.type }}</td>
			<td>{{ oak_var.result }}</td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered table-striped" ng-if="device.deviceData.device.connected">
	<thead>
		<tr>
			<th>Function Name</th>
			<th>Value</th>
			<th>Action</th>
	 </tr>
	</thead>
	<tbody>
		<tr ng-repeat="oak_func_name in device.deviceData.device.functions">
			<td>
					{{ oak_func_name }}
			</td>
			<td><!-- input box per inviare valori alla funzione -->
					<!-- vado a bindare il model ad una variabile, ad esempio il bind avverrà con  -->
					<!-- vm.toSend['angle'] -->
					<input type="text" ng-model="device.toSend[oak_func_name]"  />
			</td>
		  <td>
					<!-- sendFunc si aspetta un id device, una funzione ed il valore da inviare -->
					<!-- il valore è preso da device.toSend[oak_func_name], bindato al corrispondente input box -->
					<button ng-click='device.sendFunc(device.deviceData.device.id, oak_func_name, device.toSend[oak_func_name] )' >Call function</a>
			</td>

		</tr>
	</tbody>
</table>
